  <p>Your order is successfully placed for <%= @order.product.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @order.product.name %></p>
    <p>model: <%= @order.product.model %></p>
    <p>Price: <%= @order.product.price %></p>
    </p>
    