<ul>
  <% @order.each do |order| %>
    <li>
      <a href="/order/<%= product.id %>">
        <%= order.address%>
      
      </a>
      <a href="<%= product_order_path(order)%>">
        <%= order.amount%> 
        </a> 
   
    </li>
  <% end %>
</ul>