<ul>
  <% @order.each do |order| %>
    <li>
      <a href="/order/<%= product.id %>">
          <%= product.name %>
      </a>

     <ul><li>
        <%= link_to " edit order",  edit_product_order_path(@product) %>

          <%= link_to "Destroy", product_order_path(@product) %>
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
                </li>
    </ul>
    </li>
  <% end %>
</ul>