<ul>
  <% @my_orders.each do |order| %>
    <li>
     <p>address:- <%= order.address%> , 
        amount:- <%= order.amount%> ,
        payment type:- <%= order.payment_type%> ,
        phone no:- <%= order.phone_no%> 
    </p>
    </li>
  <% end %>
</ul>