  Your order is successfully placed for <%= @order.product.name %>!</p>
    
    Order details
    --------------------------
    
    Name: <%= @order.product.name %>
    model: <%= @order.product.model %>
    Price: <%= @order.product.price %>
    
