

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#h
{
  background-color: white;
  color: darkcyan;
}
.pagination {
  display: inline-block;
}
body
{
  min-height: 100%;
  overflow:auto ;
  background-image: url(bg.jpg);

}

.Search
{
  color: darkcyan;
}

li
{
 background-color: white;
 display: block;
  color: #000;

  text-decoration: none;
 list-style-type: none;
}
ul{
 display: block;
 padding: 0;
 border-bottom: none;
}
li a:hover
{
  background-color: darkcyan;
  color: white;
}
li a {
  display: block;
  color: darkcyan;
  padding: 8px 16px;
  text-decoration: none;
}
table th , table td{
    text-align: center;
    border: 1px solid darkcyan;
}

table tr:nth-child(even){
    background-color:darkcyan;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;

}
.pagination a:hover:not(.active) {background-color: #ddd;}
.navbar {
  min-height: 38px;
  background-color: #f55e55;
  color: darkcyan;
}

.navbar a.brand { font-size: 18px; }
.navbar a.brand:hover {
 color: darkcyan;
 background-color: transparent;
 text-decoration: none;
}
.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #388e8e;
  border: none;
  color: #fff;
}

footer {
  background-color: white;
  padding: 30px 0;
  color:darkcyan ;
  text-align: center;
}
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid black; }
body { margin: 0; }

