<p><% products=@category.products%>

<p><%= @category.category_name %></p>
<ul>
  <% products.each do |product| %>
    <li>     
      <%= product.id %>
      <%= link_to product.name, category_product_path(product) %>
     </li>

   <% end %>
</ul>