
<% if current_user.admin? %>
 <strong>  <%= link_to "New Product", new_category_product_path(@category) %></strong>
<% end %>          

All Products:
<ul>
  <% @products.each do |product| %>
    <li>
      <a href="/products/<%= product.id %>">
         <strong> <%= product.name %> </strong>
      </a>       
    </li>
</ul>


 